# 1. PERKENALAN

Nama : Enggar Diswandoro
Batch : 004

# 2. Judul/Penanda Soal

# 3. Import Pustaka

In [1]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [33]:
import xlrd

In [40]:
df = pd.read_excel('/content/drive/MyDrive/Live Code/NMC1-9.xlsx')

In [41]:
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

# 4. Data Loading

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

In [43]:
len(df)

90982

In [44]:
df.shape

(90982, 5)

In [46]:
df.describe()

            time(s)           V_m   Current (A)         Cycle           Cap
count  90982.000000  90982.000000  90982.000000  90982.000000  90982.000000
mean   45490.500000      3.607666      0.999264      4.978699      2.806214
std    26264.385433      0.322777      0.001997      2.582135      0.023283
min        0.000000      2.497000      0.993000      1.000000      2.770180
25%    22745.250000      3.422000      0.997000      3.000000      2.786860
50%    45490.500000      3.636000      0.999000      5.000000      2.804878
75%    68235.750000      3.868000      1.001000      7.000000      2.823520
max    90981.000000      4.114000      1.003000      9.000000      2.840817

# 5. Answer

Fungsi Eksplisit dari Hambatan

In [54]:
def Hambatan(v, i):
  R = v/i
  return R

Fungsi Eksplisit dari Daya

In [59]:
def Daya(v, i):
  P = v*i
  return P

Membuat Kolom Hambatan Baru

In [56]:
df['Hambatan']=[Hambatan (df['V_m'][x],df['Current (A)'][x]) for x in range(len(df))]

Membuat Kolom Daya Baru

In [60]:
df['Daya']=[Daya (df['V_m'][x],df['Current (A)'][x]) for x in range(len(df))]

Hasil Penambahan Kolom Baru

In [62]:
df

       time(s)    V_m  Current (A)  ...  resistance  Hambatan      Daya
0            0  4.098        0.997  ...    4.110331  4.110331  4.085706
1            1  4.096        0.998  ...    4.104208  4.104208  4.087808
2            2  4.094        0.999  ...    4.098098  4.098098  4.089906
3            3  4.093        0.998  ...    4.101202  4.101202  4.084814
4            4  4.092        0.999  ...    4.096096  4.096096  4.087908
...        ...    ...          ...  ...         ...       ...       ...
90977    90977  2.506        1.002  ...    2.500998  2.500998  2.511012
90978    90978  2.504        1.002  ...    2.499002  2.499002  2.509008
90979    90979  2.502        1.002  ...    2.497006  2.497006  2.507004
90980    90980  2.500        1.002  ...    2.495010  2.495010  2.505000
90981    90981  2.497        1.002  ...    2.492016  2.492016  2.501994

[90982 rows x 8 columns]

Pembuatan Kolom baru, dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan

In [64]:
df['R/P']=[Hambatan (df['V_m'][x],df['Current (A)'][x]) if df['Cap'][x]<2.5 else Daya (df['V_m'][x],df['Current (A)'][x]) for x in range(len(df))]

In [66]:
df

       time(s)    V_m  Current (A)  ...  Hambatan      Daya       R/P
0            0  4.098        0.997  ...  4.110331  4.085706  4.085706
1            1  4.096        0.998  ...  4.104208  4.087808  4.087808
2            2  4.094        0.999  ...  4.098098  4.089906  4.089906
3            3  4.093        0.998  ...  4.101202  4.084814  4.084814
4            4  4.092        0.999  ...  4.096096  4.087908  4.087908
...        ...    ...          ...  ...       ...       ...       ...
90977    90977  2.506        1.002  ...  2.500998  2.511012  2.511012
90978    90978  2.504        1.002  ...  2.499002  2.509008  2.509008
90979    90979  2.502        1.002  ...  2.497006  2.507004  2.507004
90980    90980  2.500        1.002  ...  2.495010  2.505000  2.505000
90981    90981  2.497        1.002  ...  2.492016  2.501994  2.501994

[90982 rows x 9 columns]

In [ ]:
rata = df.mean()